/* CSS declarations go here */
#login-buttons {
	position: absolute;
}
header h1, header h3 {
	text-align: center;
}

.bits {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: block;
}

.bit {
	display: block;
	min-width: 41em;
	width: 75%;
	margin: 1em auto;
	padding: 0;
}

.bit textarea {
	min-height: 10em;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	white-space: pre-wrap;
	word-break: break-word;
	clear: both;
}

.bit h2 {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.votes {
	width: 2em;
}
.language {
	float: right;
	padding: 0;
}
.delete {
	float: right;
	color: red;
}
